.SearchBar {
  margin-bottom: 1rem;
}

/* visually hidden and read by screen readers */
.SearchBar-label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.SearchBar-input {
  padding: 0.3rem 0.6rem;
  font-size: inherit;
}

.SearchBar-button {
  padding: 0.3rem 0.6rem;
  font-size: inherit;
}
